
.messenger {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 85vh;
    width: 100%
}
.messenger * {
    border-style: solid;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 1;
}
.messenger *::-webkit-scrollbar{
  display: none;
}
input{
    text-align: center;
}
#messenger_new {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2.5;
}
#messenger_messages {
    grid-area: 2 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    overflow: scroll;
}
#messenger_search {grid-area: 6 / 1 / 7 / 2;}

#messenger_results {
    grid-area: 7 / 1 / 11 / 2;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
#messenger_results div, #messenger_messages div{
    max-height: 9vw;
    min-height: 9vw;
}
#messenger_results div button, #messenger_messages div button{
    line-height: 1;
}

#messenger_text {grid-area: 1 / 2 / 2 / 4;}
#messenger_send {grid-area: 1 / 4 / 2 / 5;}
#messenger_history {
    grid-area: 2 / 2 / 11 / 5;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.messenger_history_message{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: left;
    padding: 2vw;
    height: min-content;
    font-size: 3vw;
}
.messenger_history_name{
    display: flex;
    flex-direction: row;
    font-size: 3.5vw;
    text-align: left;
    border-style: none;
    line-height: 1.5;
}
.messenger_history_name img{
    object-fit: cover;
    height: 5vw;
    width: 5vw;
    border-style:groove;
    margin-right: 2vw;
}
.messenger_history_message_notmy{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: left;
    padding: 2vw;
    height: min-content;
    font-size: 3vw;
    background-color: rgb(5, 90, 0);
}
.messenger_history_message_notmy * {
    background-color: rgb(5, 90, 0);
}

@media screen and (max-width: 1080px) and (min-height: 800px){
    .messenger_history_message{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        font-size: 4vw;
    }
    .messenger_history_name{
        display: flex;
        flex-direction: row;
        font-size: 5vw;
        text-align: left;
        border-style: none;
        line-height: 2;
    }
    .messenger_history_name img{
        object-fit: cover;
        height: 10vw;
        width: 10vw;
        border-style:groove;
        margin-right: 2vw;
    }
    .messenger_history_message_notmy{
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        font-size: 4vw;
        background-color: rgb(5, 90, 0);
    }
    .messenger_history_message_notmy * {
        background-color: rgb(5, 90, 0);
    }
}