.staff {
    width: 100%;
    color: #09FF00;
    line-height: normal;
    font-size: 20vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows:auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 0;

}
.staff *{
    border-style: solid;

    text-align: center;
    height: 100%;
}
.staffCard{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.staffCard img{
    grid-area: 1 / 1 / 4 / 2;
    object-fit: contain;
}
.staffCard div{
    grid-area: 4 / 1 / 6 / 2;
    line-height: 2;
    display: flex;
    flex-direction: column;
    line-height: 0.7;
}
.staffCard div * {
    border-style: none;
    font-size: 2.5vw;
}
.staffCard button{
    grid-area: 6 / 1 / 7 / 2;
}
.sortButton{
    height: 100%;
}
.sortLine{
    display: flex;
    flex-direction: row;
    height: 7vh;
    min-height: 70px;
    margin: 10px 0;
}
.sortLine p{
    display: inline-block;
    text-align: center;
    padding-top: 30px;
    border-style: solid;
    height: 100%;

}